.hidden {
  display: none;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* 배경으로 보내기 */
  opacity: 0.8; /* 약간 어둡게 처리 (원하면) */
}